@CHARSET "ISO-8859-1";

div {
	border: dotted 1px;
	padding: 10px;
	margin: 10px;
}

.tableStyle {

	border: dotted black 1px;
}

.tableStyle th {
	
	background-color: orange;
	border: dotted black 1px;
}

.tableStyle td {
	
	color: blue;
	border: dotted black 1px;
}

.error {
	
	color: red;
}


